fastapi
fastapi-mail
uvicorn[standard]
notion-client
pydantic-settings
pydantic[email]
pydantic-extra-types
phonenumbers
sqlalchemy
asyncpg
greenlet
slowapi
alembic
psycopg[binary]
passlib
passlib[argon2]
pyjwt